@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;

}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;

}

html {
    height: 100%;
}

body {
    margin: 0;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    background-color: #F2F2F2;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page-container {
    width: 1200px;
    margin: 0 auto;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
}

.page-header {
    position: relative;
    background: #ffffff;
    color: #000000;
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.navigation-list {
    display: flex;
    width: 390px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    flex-wrap: wrap;

}

.navigation-link {
    position: relative;
    display: block;
    padding: 20px 17px 19px;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;
    z-index: 2;
}


.navigation-link:hover {
    color: #68A2CA;
}

.navigation-link:focus {
    color: #68A2CA;
}

.navigation-link:active {
    color: rgba(104, 162, 202, 0.3);
}


.navigation-user .navigation-link-icon:hover path {
    fill: #68A2CA;
}

.navigation-user .navigation-link-icon:focus path {
    fill: #68A2CA;
}

.navigation-user .navigation-link-icon:active path {
    fill: rgba(104, 162, 202, 0.3);

}

.navigation-link-current::after {
    content: "";
    position: absolute;
    width: calc(100% - 34px);
    border-bottom: 2px solid #756257;
    left: 0;
    top: 0;
    bottom: -2px;
    margin: 0 17px;
    z-index: 2;
}

.navigation-link-current-catalog::before {
    content: "";
    position: absolute;
    width: calc(100% - 34px);
    border-bottom: 2px solid #756257;
    left: 0;
    top: 0;
    bottom: -2px;
    margin: 0 17px;
    z-index: 2;
}

.navigation-logo {
    position: absolute;
    left: 70px;
    top: 0;
    width: 139px;
    height: 70px;
    z-index: 1;
}

.navigation-link-icon {
    position: relative;
    display: block;
    padding: 20px 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;

}

.navigation-user {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    flex-wrap: wrap;
    width: 266px;
    align-items: center;
    margin-right: 70px;
}

.navigation-user .navigation-link {
    min-width: 19px;
    min-height: 19px;

}

.navigation-item-link {
    position: relative;
    margin-left: 20px;
}

.navigation-hotels {
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    background-color: #756157;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    border-radius: 4px;
    padding: 9px 15px 8px;
    width: 130px;
    height: 18px;
}

.navigation-hotels:hover {
    background-color: #615048;
}

.navigation-hotels:focus {
    background-color: #615048;
    outline: none;
}

.navigation-hotels:active {
    background-color: #756157;
    color: rgba(255, 255, 255, 0.3);
}

.number {
    font-family: "PT Sans";
    font-style: 400;
    font-size: 10px;
    line-height: 13px;
    color: #FFFFFF;
    background-color: #7DB54F;
    position: absolute;
    border-radius: 10px;
    width: 19px;
    padding: 2px 0 4px;
    top: 15px;
    left: 25px;
}

.main-container {
    flex-grow: 1;
}

.main-index {
    position: relative;
}

.main-hero {
    background-image: url("../images/index-background.jpg");
    background-repeat: no-repeat;
    color: #000000;
    background-color: #ffffff;
    background-size: 100% auto;

}

.main-hero::after {
    width: 1200px;
    height: 57px;
    background-image: url("../images/divider.svg");
    content: "";
    top: 429px;
    position: absolute;

}

.main-logo {
    display: block;
    margin: 0 auto;
    padding-top: 51px;
    padding-bottom: 82px;

}

.advantages-background {
    width: 620px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    padding: 63px 290px 31px;
}

.advantages-divider {
    width: 654px;
    margin: 0;
    padding: 0 273px 90px 273px;
    text-align: center;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    text-align: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.advantages-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    margin: 0;
    width: 230px;
    min-height: 56px;

}

.advantages-city {
    display: flex;
    flex-direction: column;
    background-color: #82B3D3;
    color: #ffffff;
    padding: 92px 85px;

}

.advantages-block {
    display: flex;
    padding-right: 0;
}

.advantages-sub-paragraph {
    display: flex;
    padding: 0;
    list-style-type: none;
    margin: 0;
    min-width: 384px;
    position: relative;
}

.advantages-sub {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 30px;
    margin-top: 30px;
}

.advantages-item {
    width: 230px;
    padding: 155px 85px 78px;

}


.advantages-hotels {
    background-color: rgba(131, 179, 211, 0.12);
}

.advantages-hotels::before {
    width: 75px;
    height: 72px;
    position: absolute;
    background-image: url("../images/advantages/house.svg");
    content: "";
    top: 83px;
    left: 160px;
}

.advantages-food {
    background-color: #ffffff;
}

.advantages-food::before {
    width: 74px;
    height: 71px;
    position: absolute;
    background-image: url("../images/advantages/food.svg");
    content: "";
    top: 84px;
    left: 560px;
}

.advantages-souvenirs {
    background-color: rgba(131, 179, 211, 0.12);
}

.advantages-souvenirs::before {
    width: 70px;
    height: 76px;
    position: absolute;
    background-image: url("../images/advantages/box.svg");
    content: "";
    top: 79px;
    left: 960px;
}


.advantages-landscapes {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding-right: 0;
}

.advantages-couple {
    color: #ffffff;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.advantages-content {
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
    margin: 0;
}

.advantages-number {
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-top: 30px;
    margin-bottom: 30px;
}

.advantages-description {
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    margin: 0;
}

.advantages-square {
    background-color: rgba(131, 179, 211, 0.12);
    display: flex;
    flex-direction: column;
    width: 230px;
    min-height: 179px;
    padding: 103px 85px 102px;
}

.advantages-road {
    background-color: rgba(131, 179, 211, 0.2);
    display: flex;
    flex-direction: column;
    width: 230px;
    min-height: 179px;
    padding: 103px 85px 102px;
}

.advantages-tourists {
    background-color: rgba(131, 179, 211, 0.12);
    display: flex;
    flex-direction: column;
    width: 230px;
    min-height: 179px;
    padding: 103px 85px 102px;
}

.search {
    text-align: center;
    padding-top: 91px;
    padding-bottom: 93px;
}

.search-heading {
    font-size: 30px;
    line-height: 36px;
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
}

.hotels-description {
    font-style: normal;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #333333;
    margin: 29px 304px 56px;
    width: 592px;
}

.search-link {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    background-color: #756157;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    width: 544px;
    min-height: 36px;
    display: flex;
    flex-direction: column;
    margin: 0 313px;
    padding: 12px 15px;
    border-radius: 4px;

}

.search-link:hover {
    background-color: #615048;
}

.search-link:focus {
    background-color: #615048;
    outline: none;
}

.search-link:active {
    background-color: #756157;
    color: rgba(255, 255, 255, 0.3);
}

.subscription {
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: #ffffff;
    background-color: #000000;
    width: 800px;
    min-height: 223px;
    padding: 94px 200px;
}

.subscription-form {
    display: flex;
    justify-content: center;

}

.email {
    font-family: "PT Sans";
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    padding: 20px 491px 19px 22px;
    margin: 0;
    border: 0;
    min-width: 87px;
    min-height: 21px;
    background-color: #F2F2F2;
    border-radius: 10px 0px 0px 10px;
}

.subscription-button {
    font-family: "PT Sans";
    font-size: 20px;
    line-height: 36px;
    background-color: #82B3D3;
    color: #ffffff;
    font-style: normal;
    font-weight: 700;
    margin: 0;
    padding: 12px 15px;
    min-width: 200px;
    border: none;
    border-radius: 0px 10px 10px 0px;

}

.subscription-titel {
    margin: 0;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.subscription-info {
    font-size: 22px;
    line-height: 26px;
    margin-top: 29px;
    margin-bottom: 46px;
    width: 476px;
    min-height: 52px;
    margin-left: auto;
    margin-right: auto;
}

.page-footer {
    text-align: center;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 40px 70px 30px 70px;
}

.footer-contact-adress {
    
    margin-right: 235px;

}

.footer-social-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 142px;
    min-height: 40px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-social-item {
    width: 47px;
    padding-top: 13px;
}

.footer-social-link:hover path {
    fill: #68A2CA;
}

.footer-social-link:focus path {
    fill: #68A2CA;
}

.footer-social-link:active path {
    fill: rgba(104, 162, 202, 0.3);
}

.contacts-phone {
    font-size: 40px;
    font-style: normal;
    line-height: 40px;
    color: #000000;
    text-decoration: none;


}

.contacts-phone:hover {
    color: #756157;
}

.contacts-phone:focus {
    color: #756157;
}

.contacts-phone:active {
    color: rgba(117, 97, 87, 0.3);

}

.footer-contacts-logo:hover path {
    fill: #756157;
}

.footer-contacts-logo:focus path {
    fill: #756157;
}

.footer-contacts-logo:active path {
    fill: rgba(117, 97, 87, 0.3);
}

.inner-header {
    display: flex;
    flex-direction: column;
}

.hotel-filter {
    background-image: url(../images/filter.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    background-color: #000000;

}

.inner-header-title {
    font-size: 60px;
    line-height: 78px;
    text-transform: capitalize;
    font-weight: 700;
    width: 494px;
    margin: 0;
    min-height: 78px;
    padding: 35px 635px 10px 70px;
}

.breadcrumbs {
    position: relative;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 110px;
    min-height: 21px;
    margin: 0;
    padding: 0 1017px 40px 72px;
}

.breadcrumbs-item {
    position: relative;
}

.breadcrumbs-link {
    font-size: 16px;
    line-height: 21px;
    cursor: pointer;
}

.breadcrumbs-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -15px;
    margin: auto;
    fill: #FFFFFF;
}

.breadcrumbs-main {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    fill: #FFFFFF;
}

.breadcrumbs-main:hover {
    stroke: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-main:focus {
    stroke: #FFFFFF;
}

.breadcrumbs-main:active {
    stroke: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link:hover {
    color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus {
    color: #FFFFFF;
}

.breadcrumbs-link:active {
    color: rgba(255, 255, 255, 0.3);
}

.catalog-filter {
    display: flex;
    width: 1059px;
    min-height: 149px;
    margin: 0;
    padding: 0 70px 70px;
}

.catalog-filter-infrastructure {
    border: none;
    padding: 0;
    margin: 0;
}

.catalog-filter-housing {
    border: none;
    margin: 0;
    padding: 0;
    margin: 0 175px 0 70px;
}

.catalog-filter-group {
    border: 0;
    margin: 0;
    padding: 0;
}

.employ-reset-button {
    display: flex;
    flex-direction: column;
    border: none;
    margin-top: 60px;
    margin-left: 70px;

}

.catalog-filter-item:nth-child(1) {
    margin-bottom: 15px;
}

.catalog-filter-item:nth-child(2) {
    margin-bottom: 15px;
}

.catalog-filter-list {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

.catalog-filter-title {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
}

.catalog-filter-title-range {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    padding: 0;
    margin: 0;
    margin-bottom: 34px;
}

.range {
    display: flex;
}

.range-wrapper-inputs {
    display: flex;
    position: relative;
}

.catalog-filter-price {
    font-size: 18px;
    line-height: 21px;
    opacity: 0.3;
    position: absolute;
    top: 13px;
    left: 110px;

}

.range-input {
    width: 144px;
    margin: 0;
    color: #FFFFFF;
    font: inherit;
    font-size: 18px;
    line-height: 21px;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    padding: 12px 14px 13px 19px;
    border-radius: 4px 0 0 4px;
    font-weight: 400;
}

.range-input:hover {
    border: 2px solid rgba(255, 255, 255, 0.6);
}

.range-input:focus:not(:active) {
    box-shadow: 0 0 0 3px #81b3d2, inset 0 0 0 3px #81b3d2;
    outline: none;
}

.range-input:active {
    background: #756257;
    border: 2px solid #FFFFFF;
    outline: none;
}

.range-input:disabled {
    opacity: 0.3;
    border: 2px solid rgba(0, 0, 0, 0.3);
}

.range-input-max {
    width: 144px;
    margin: 0;
    color: #ffffff;
    font: inherit;
    font-size: 18px;
    line-height: 21px;
    background-color: transparent;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    padding: 12px 17px 13px;
    border-radius: 0 4px 4px 0;
    font-weight: 400;
}

.range-input-max:hover {
    border: 2px solid rgba(255, 255, 255, 0.6);
}

.range-input-max:focus:not(:active) {
    box-shadow: 0 0 0 3px #81b3d2, inset 0 0 0 3px #81b3d2;
    outline: none;
}

.range-input-max:active {
    background: #756257;
    border: 2px solid #FFFFFF;
    outline: none;
}

.range-input-max:disabled {
    opacity: 0.3;
    border: 2px solid rgba(0, 0, 0, 0.3);
}

.range-scale {
    position: relative;
    margin-top: 30px;
}

.range-opacity {
    position: absolute;
    background-color: #ffffff;
    opacity: 0.3;
    height: 4px;
    width: 287px;
}

.range-bar {
    width: 227px;
    position: absolute;
    height: 4px;
    background-color: #ffffff;
}

.range-toggle {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.range-toggle:hover {
    background-color: #ffffff;
}

.range-toggle:focus {
    border: 3px solid #83B3D3;
}

.range-toggle:active {
    border: 2px solid #83B3D3;
}

.toggle-min {
    top: -8px;
    left: 0px;
}

.toggle-max {
    top: -8px;
    right: -10px;
}

.employ-button {
    font-family: "PT Sans";
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #ffffff;
    background-color: #82B3D3;
    text-transform: uppercase;
    border: 0;
    padding: 14px 15px;
    border-radius: 4px;
    cursor: pointer;
    width: 160px;
    margin-bottom: 20px;

}

.catalog-sorting {
    display: flex;
    width: 1057px;
    min-height: 49px;
    padding: 55px 71px 50px 72px;
}

.select-control-sorting {
    font-family: "PT Sans";
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    margin-right: 78px;
    margin-left: 191px;
    width: 290px;
    min-height: 49px;
    border-radius: 4px;
    appearance: none;
    border: 2px solid #E5E5E5;
    padding: 12px 20px 12px 20px;
    background-image: url(../images/arrow-down.svg);
    background-repeat: no-repeat;
    background-position: right 20px center;

}

.select-control-sorting:hover,
.select-control-sorting:focus {
    border: 2px solid #68A2CA;
    outline: none;
}

.select-control-sorting:active {
    border: 2px solid #3F5E72;
}

.select-control-sorting:disabled {
    opacity: 0.3;
}

.button-view-container {
    display: flex;
    width: 160px;
    margin-left: auto;
    justify-content: space-between;
}

.button-view {
    width: 48px;
    height: 48px;
    position: relative;
    box-sizing: border-box;
}

.button-view-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.button-view-current {
    border: 2px solid #000000;
    border-radius: 4px;
    margin-right: 8px;
}

.button-view-uncurrent {
    border: 2px solid #E5E5E5;
    border-radius: 4px;

}

.button-view-uncurrent:not(:last-child) {
    margin-right: 8px;
}

.button-view:hover {
    border: 2px solid #000000;
}

.button-view:focus {
    border: 2px solid #68A2CA;
    outline: none;
}

.button-view:active {
    border: 2px solid #000000;
}

.catalog-sorting .button {
    width: 48px;
    height: 48px;
}

.control-input-reset {
    font-family: "PT Sans";
    font-size: 16px;
    line-height: 20px;
    background: transparent;
    border: none;
    color: #FFFFFF;
    padding: 0;
    margin-left: 48px;

}

.control-input-reset:hover {
    opacity: 0.6;
}

.control-input-reset:focus {
    outline: 3px solid #83B3D3;
    color: #FFFFFF;
}

.control-input-reset:active {
    opacity: 0.3;
    outline: none;
}

.control {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    margin: 0;
    position: relative;
    display: block;
    padding-left: 39px;
}

.control-mark {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background-color: #ffffff;
}

.control-check-mark {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background-color: #ffffff;
}

.control-input:checked+.control-check-mark {
    background-image: url("../images/mark.svg");
    background-repeat: no-repeat;
    color: #3F5E72;
    background-position: center;
}

.control:hover .control-check-mark {
    background-color: rgba(255, 255, 255, 0.6);
}

.control:focus-within .control-check-mark {
    background-color: rgba(255, 255, 255, 0.6);
    outline: 3px solid #83B3D3;
}

.control:active .control-check-mark {
    background-color: rgba(255, 255, 255, 0.3);
}

.control-input[type="radio"]+.control-mark {
    border-radius: 50%;
}

.control-input[type="radio"]:checked+.control-mark::before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    background-color: #3F5E72;
    border-radius: 50%;
    content: "";
}

.control:hover .control-mark {
    background-color: #ffffff;
}

.control:focus-within .control-mark {
    background-color: #ffffff;
    outline: 3px solid #83B3D3;
}

.control:active .control-mark {
    background-color: #ffffff;
}

.control-input:disabled+.control-mark {
    border-color: #242424;
}

.catalog-hotels {
    display: block;
}

.catalog-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    width: 338px;
    min-height: 37px;
    margin-top: 7px;
    margin-bottom: 4px;
}

.control-input {
    margin: 0;
    margin-right: 19px;
}

.hotels-list {
    display: grid;
    grid-template-columns: 340px 340px 340px;
    column-gap: 18px;
    list-style-type: none;
    padding-left: 71px;
    padding-right: 73px;
    text-align: center;
    padding-bottom: 66px;
    margin: 0;
}

.hotels-card {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.hotels-price {
    display: grid;
    grid-template-columns: 140px 140px;
    grid-template-rows: 21px 37px 37px;
    gap: 16px 20px;

}

.hotels-card-link {
    text-decoration: none;
}

.hotels-card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    text-decoration: none;
    width: 300px;
    text-align: left;
    margin-top: 16px;
    margin-bottom: 16px;
}

.hotels-card-name {
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    text-align: left;
}

.hotels-card-price {
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    text-align: left;
}

.hotels-detailed {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    background-color: #756157;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 9px;
    border-radius: 4px;
}

.hotels-favourites {
    font-family: "PT Sans", sans-serif;
    display: inline-block;
    width: 140px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    background-color: #82B3D3;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0;
    border-radius: 4px;
    border: none;
}

.hotels-added {
    font-family: "PT Sans", sans-serif;
    padding: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    background-color: #7DB54F;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0;
    border-radius: 4px;
    border: none;
    width: 140px;
}

.hotels-detailed:hover {
    background-color: #615048;
}

.hotels-detailed:focus {
    background-color: #615048;
    outline: none;
}

.hotels-detailed:active {
    background-color: #756157;
    color: rgba(255, 255, 255, 0.3);
}

.hotels-added:hover {
    background-color: #6C9E42;
}

.hotels-added:focus {
    background-color: #6C9E42;
    outline: none;
}

.hotels-added:active {
    background-color: #7DB54F;
    color: rgba(255, 255, 255, 0.3);
}

.button:disabled {
    background-color: #E5E5E5;
    color: #FFFFFF;
    cursor: default;
}

.rating {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    padding-top: 9px;
    background-color: #F2F2F2;
    border-radius: 4px;
}

.star-four {
    background-image: url("../images/stars/four-stars.svg");
}

.star-three {
    background-image: url("../images/stars/three-stars.svg");
}

.star-two {
    background-image: url("../images/stars/two-stars.svg");
}

.hotels-card-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
}

.pagination-container {
    display: flex;
    width: 1056px;
    min-height: 60px;
    box-sizing: border-box;
    margin: auto;
    border-top: 1px solid #E6E6E6;
    padding-top: 30px;
    padding-bottom: 25px;
}

.pagination-container p {
    margin: 20px 51px 17px 270px;
    min-width: 175px;
    min-height: 23px;
    color: #333333;

}

.pagination {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.pagination-item:not(:last-child) {
    margin-right: 8px;
}

.pagination-link {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    background-color: #82B3D3;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 4px;
    padding-top: 11px;
}

.pagination-current {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    background-color: #F2F2F2;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 4px;
    padding-top: 11px;
}

.select-control {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    background-color: #ffffff;
    width: 160px;
    height: 49px;
    appearance: none;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
    padding: 13px 32px 13px 20px;
    background-image: url(../images/arrow-down.svg);
    background-repeat: no-repeat;
    background-position: right 20px center;
    margin-top: 5px;
}

.subscription-catalog {
    width: 800px;
    min-height: 223px;
    padding: 94px 200px;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
}

.subscription-catalog-button {
    font-family: "PT Sans";
    font-size: 20px;
    line-height: 36px;
    background-color: #82B3D3;
    color: #ffffff;
    font-style: normal;
    font-weight: 700;
    margin: 0;
    padding: 12px 15px;
    min-width: 200px;
    border: none;
    border-radius: 0px 10px 10px 0px;
}

.select-button {
    cursor: pointer;
}

.select-button:hover {
    background-color: #68A2CA;
}

.select-button:focus {
    background-color: #68A2CA;
    outline: none;
}

.select-button:active {
    background-color: #82B3D3;
    color: rgba(255, 255, 255, 0.3);
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(242, 242, 242, 0.8);
    z-index: 3;
}

.modal-container-close {
    display: none;
}

.modal {
    position: relative;
    margin: auto;
    background: #FFFFFF;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    padding: 62px 70px 70px 68px;

}

.modal-hotel-search {
    width: 577px;
}

.modal-close-button {
    position: absolute;
    padding: 0;
    top: 0;
    right: 0;
    margin-top: 54px;
    margin-right: 70px;
    background-color: #F2F2F2;
    border-radius: 50%;
    width: 53px;
    height: 53px;
    border: none;
    cursor: pointer;
}

.modal-close-button:hover {
    background-color: #E6E6E6;
}

.modal-close-button:focus {
    background-color: #E6E6E6;
    outline: 3px solid #83B3D3;
}

.modal-close-button:active {
    background-color: #E6E6E6;
    opacity: 0.3;
    outline: none;
}

.modal-search-form {
    display: flex;
    flex-direction: column;
}

.modal-title {
    margin: 0;
    margin-bottom: 63px;
    font-family: "PT Sans", sans-serif;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}


.modal-field-label {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
}

.modal-date-text {
    font-size: 16px;
    line-height: 21px;
    margin: 0;
    grid-column: 2/3;
    margin-top: 10px;
    color: #333333;
}

.modal-date-text-false {
    color: #FF5757;
}

.modal-field-date {
    position: relative;
    display: grid;
    grid-template-columns: auto 420px;
    column-gap: 36px;
    align-items: center;
    margin-bottom: 11px;
}


.modal-date-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 15px;
    height: 15px;
    margin-right: 17px;
    margin-top: 18px;
    padding: 0;
    background-image: url(../images/modal/date.svg);
    border: none;
    cursor: pointer;
}

.modal-date-button:focus {
    outline: 2px solid #83B3D3;
    border-radius: 2px;
}


.modal-field-group-number {
    display: flex;
    width: 575px;
    justify-content: space-between;
}

.modal-field-number {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.field-number-children {
    width: 229px;
}

.field-number-people {
    width: 288px;
}

.modal-number-container {
    position: relative;
    margin-left: 43px;
}

.modal-number-button {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 13px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    padding: 0;
}

.minus {
    left: 14px;
}

.plus {
    right: 14px;
}

.minus::before {
    content: "";
    position: absolute;
    width: 13px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.3);
    transform: translateX(-50%);
}

.plus::before,
.plus::after {
    content: "";
    position: absolute;
    width: 13px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.3);
    transform: translateX(-50%);
}

.plus::after {
    transform: rotate(90deg);
    right: 6px;
}

.modal-number-button:hover::before,
.modal-number-button:hover::after {
    background-color: #000000;
}

.modal-number-button:focus::before,
.modal-number-button:focus::after {
    background-color: #000000;
}

.modal-number-button:focus {
    outline: 3px solid #83B3D3;
}

.modal-number-button:active::before,
.modal-number-button:active::after {
    background-color: rgba(0, 0, 0, 0.2);
}

.modal-number-button:active {
    outline: none;
}

.modal-input-date {
    width: 420px;
    border-radius: 4px;
    padding: 15px 32px 14px 19px;
    box-sizing: border-box;
    border: none;
    background-color: #F2F2F2;
    font-size: 18px;
    line-height: 21px;
    font-family: "PT Sans", sans-serif;
}

.modal-input-date::placeholder{
    color: #000000;
    
}

.modal-input-number {
    width: 133px;
    border-radius: 4px;
    box-sizing: border-box;
    appearance: textfield;
    padding: 15px 50px 14px 50px;
    text-align: center;
}

.modal-input-number::-webkit-outer-spin-button,
.modal-input-number::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

.modal-search-link {
    text-decoration: none;
    margin-top: 40px;
    padding: 12px 26px;
    font-size: 20px;
    line-height: 36px;
    border-radius: 10px;
    background-color: #83B3D3;
    color: #ffffff;
    text-align: center;
    font-weight: 700;

}

.modal-search-form .button-second:focus {
    outline: 3px solid #756257;
}

.tooltip {
    position: absolute;
    z-index: 4;
    width: 25px;
    height: 25px;
    margin-left: 4px;
    margin-top: 2px;
}

.tooltip-toggle {
    border: none;
    width: 25px;
    height: 25px;
    background-image: url(../images/modal/info.svg);
    background-repeat: no-repeat;
    background-color: #83B3D3;
    background-position: center;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    cursor: pointer;
    position: absolute;
}

.tooltip-toggle:hover {
    background-color: #68A2CA;
}

.tooltip-toggle:focus {
    background-color: #68A2CA;
    outline: 3px solid #756257;
}

.tooltip-text {
    box-sizing: border-box;
    width: 256px;
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    padding: 15px 18px 18px 22px;
    background-color: #333333;
    color: #FFFFFF;
    border-radius: 10px;
    position: absolute;
    top: 40px;
    right: -115px;
    display: none;
}

.tooltip-toggle:hover+.tooltip-text,
.tooltip-toggle:focus+.tooltip-text {
    display: block;
}

.tooltip-text:after {
    content: '';
    background-image: url("../images/modal/arrow-tooltip.svg");
    width: 19px;
    height: 9px;
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.modal-form-label-icon {
    position: relative;
    padding-right: 25px;
}