@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;

}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;

}

html {
    height: 100%;
}

body {
    margin: 0;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    background-color: #ffffff;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page-container {
    width: 1200px;
    margin: 0 auto;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.page-header {
    background: #ffffff;
    color: #000000;
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.navigation-list {
    display: flex;
    width: 390px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    flex-wrap: wrap;
    margin-left: 30px;
}

.navigation-link {
    position: relative;
    display: block;
    padding: 20px 17px 19px;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;
    z-index: 2;
}

.navigation-link:hover {
    outline: 1px solid #000000;
}

.navigation-link:focus {
    outline: 1px solid #68A2CA;
}

.navigation-link:active {
    outline: 1px solid #000000;
}

.navigation-logo:hover {
    outline: 2px solid #000000;
}

.navigation-logo:focus {
    outline: 2px solid #68A2CA;
}


.navigation-link-current::before {
    position: absolute;
    bottom: -2px;
    width: 68px;
    background-color: #756157;
    content: "";
    border: 2px solid #756257;
    z-index: 1;

}

.navigation-link-current-catalog::before {
    position: absolute;
    bottom: -2px;
    width: 93px;
    background-color: #756157;
    content: "";
    border: 2px solid #756257;
    z-index: 1;
}

.navigation-link-logo {
    position: relative;
}

.navigation-logo {
    position: absolute;
    bottom: -5px;
    width: 139px;
    height: 70px;
    right: -210px;
    z-index: 1;
}

.navigation-user {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    flex-wrap: wrap;
    width: 300px;
    align-items: center;
    margin-right: 70px;
}

.navigation-user .navigation-link {
    min-width: 19px;
    min-height: 19px;

}

.navigation-item-link {
    position: relative;
    margin-left: 20px;
}

.navigation-hotels {
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    background-color: #756157;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    border-radius: 4px;
    padding: 9px 15px 8px;
    width: 130px;
    height: 18px;
}

.navigation-hotels:hover {
    background-color: #615048;
}

.navigation-hotels:focus {
    background-color: #615048;
    outline: none;
}

.navigation-hotels:active {
    background-color: #756157;
    color: rgba(255, 255, 255, 0.3);
}

.number {
    font-family: "PT Sans";
    font-style: 400;
    font-size: 10px;
    line-height: 13px;
    color: #FFFFFF;
    background-color: #7DB54F;
    position: absolute;
    border-radius: 10px;
    width: 19px;
    padding: 2px 0 4px;
    top: 15px;
    left: 30px;
}

.main-container {
    flex-grow: 1;
}

.main-index {
    position: relative;
}

.main-hero {
    background-image: url("../images/index-background.jpg");
    background-repeat: no-repeat;
    color: #000000;
    background-color: #ffffff;
    background-size: cover;

}

.main-hero::after {
    width: 1200px;
    height: 57px;
    background-image: url("../images/divider.svg");
    content: "";
    top: 428px;
    position: absolute;
    background-color: #FFFFFF;
}

.main-logo {
    display: block;
    margin: 0 auto;
    padding-top: 51px;
    padding-bottom: 82px;

}

.advantages-background {
    width: 620px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    padding: 63px 290px 31px;
}

.advantages-divider {
    width: 654px;
    margin: 0;
    padding: 0 273px 90px 273px;
    text-align: center;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    text-align: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.advantages-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    margin: 0;
    width: 230px;
    min-height: 56px;

}

.advantages-city {
    display: flex;
    flex-direction: column;
    background-color: #82B3D3;
    color: #ffffff;
    width: 230px;
    min-height: 200px;
    padding: 92px 85px;

}

.advantages-block {
    display: flex;
    padding-right: 0;
}

.advantages-sub-paragraph {
    display: flex;
    padding: 0;
    list-style-type: none;
    position: relative;
}

.advantages-sub-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 30px;

}

.advantages-hotels {
    width: 230px;
    background-color: rgba(131, 179, 211, 0.12);
    padding: 183px 85px 81px;
}

.advantages-hotels::before {
    width: 75px;
    height: 72px;
    position: absolute;
    background-image: url("../images/advantages/house.svg");
    content: "";
    top: 111px;
    left: 160px;
}

.advantages-food {
    width: 230px;
    background-color: #ffffff;
    padding: 183px 85px 81px;
}

.advantages-food::before {
    width: 74px;
    height: 71px;
    position: absolute;
    background-image: url("../images/advantages/food.svg");
    content: "";
    top: 111px;
    left: 560px;
}

.advantages-souvenirs {
    width: 230px;
    background-color: rgba(131, 179, 211, 0.12);
    padding: 183px 85px 81px;
}

.advantages-souvenirs::before {
    width: 70px;
    height: 76px;
    position: absolute;
    background-image: url("../images/advantages/box.svg");
    content: "";
    top: 107px;
    left: 960px;
}

.advantages-landscapes {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding-right: 0;
}

.advantages-couple {
    color: #ffffff;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.advantages-content {
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
    margin: 0;
}

.advantages-number {
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-top: 30px;
    margin-bottom: 30px;
}

.advantages-description {
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    margin: 0;
}

.advantages-square {
    background-color: rgba(131, 179, 211, 0.12);
    display: flex;
    flex-direction: column;
    width: 230px;
    min-height: 179px;
    padding: 103px 85px 102px;
}

.advantages-road {
    background-color: rgba(131, 179, 211, 0.2);
    display: flex;
    flex-direction: column;
    width: 230px;
    min-height: 179px;
    padding: 103px 85px 102px;
}

.advantages-tourists {
    background-color: rgba(131, 179, 211, 0.12);
    display: flex;
    flex-direction: column;
    width: 230px;
    min-height: 179px;
    padding: 103px 85px 102px;
}

.search {
    text-align: center;
    padding-top: 91px;
    padding-bottom: 93px;
}

.search-heading {
    font-size: 30px;
    line-height: 36px;
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
}

.hotels-description {
    font-style: normal;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #333333;
    margin: 29px 304px 56px;

    width: 592px;
}

.search-link {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    background-color: #756157;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    width: 544px;
    min-height: 36px;
    display: flex;
    flex-direction: column;
    margin: 0 313px;
    padding: 12px 15px;
    border-radius: 4px;

}

.search-link:hover {
    background-color: #615048;
}

.search-link:focus {
    background-color: #615048;
    outline: none;
}

.search-link:active {
    background-color: #756157;
    color: rgba(255, 255, 255, 0.3);
}

.subscription {
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: #ffffff;
    background-color: #000000;
    width: 800px;
    min-height: 223px;
    padding: 94px 200px;
}

.subscription-form {
    display: flex;
    justify-content: center;

}

.email {
    font-family: "PT Sans";
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    padding: 20px 491px 19px 22px;
    margin: 0;
    border: 0;
    min-width: 87px;
    min-height: 21px;
    background-color: #F2F2F2;
    border-radius: 10px 0px 0px 10px;
}

.subscription-button {
    font-family: "PT Sans";
    font-size: 20px;
    line-height: 36px;
    background-color: #82B3D3;
    color: #ffffff;
    font-style: normal;
    font-weight: 700;
    margin: 0;
    padding: 12px 15px;
    min-width: 200px;
    border: none;
    border-radius: 0px 10px 10px 0px;

}

.subscription-titel {
    margin: 0;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.subscription-info {
    font-size: 22px;
    line-height: 26px;
    margin-top: 29px;
    margin-bottom: 46px;
    width: 475px;
    min-height: 52px;
    margin-left: auto;
    margin-right: auto;
}

.page-footer {
    text-align: center;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 40px 70px 30px 70px;
}

.footer-contact-adress {
    width: 720px;
    height: 40px;
    margin-left: 41px;
    margin-right: 41px;

}

.footer-social-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 142px;
    min-height: 40px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-social-item {
    width: 47px;
    padding-top: 13px;
}

.footer-social-link:hover {
    stroke: #68A2CA;
}

.footer-social-link:focus {
    stroke: #68A2CA;
}

.footer-social-link:active {
    stroke: rgba(104, 162, 202, 0.3);
}

.contacts-phone {
    display: block;
    font-size: 40px;
    font-style: normal;
    line-height: 40px;
    color: #000000;
    text-decoration: none;
    width: 331px;
    padding-left: 195px;
    padding-right: 194px;

}

.contacts-phone:hover {
    color: #756157;
}

.contacts-phone:focus {
    color: #756157;
}

.contacts-phone:active {
    color: rgba(117, 97, 87, 0.3);

}

.footer-logo:hover .footer-contacts-logo {
    stroke: #756157;
}

.footer-logo:focus .footer-contacts-logo {
    stroke: #756157;
}

.footer-logo:active .footer-contacts-logo {
    stroke: rgba(117, 97, 87, 0.3);

}

.inner-header {
    display: flex;
    flex-direction: column;
}

.hotel-filter {
    background-image: url(../images/filter.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    background-color: #000000;

}

.inner-header-title {
    font-size: 60px;
    line-height: 78px;
    text-transform: capitalize;
    font-weight: 700;
    width: 494px;
    margin: 0;
    min-height: 78px;
    padding: 35px 635px 10px 70px;
}

.breadcrumbs {
    position: relative;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 110px;
    min-height: 21px;
    margin: 0;
    padding: 0 1017px 40px 72px;
}

.breadcrumbs-item {
    position: relative;
}

.breadcrumbs-link {
    font-size: 16px;
    line-height: 21px;
    cursor: pointer;
}

.breadcrumbs-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -15px;
    margin: auto;
    fill: #FFFFFF;
}

.breadcrumbs-main {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    fill: #FFFFFF;
}



.breadcrumbs-main:hover {
    stroke: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-main:focus {
    stroke: #FFFFFF;
}

.breadcrumbs-main:active {
    stroke: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link:hover {
    color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus {
    color: #FFFFFF;
}

.breadcrumbs-link:active {
    color: rgba(255, 255, 255, 0.3);
}

.catalog-filter {
    display: flex;
    justify-content: space-between;
    width: 1059px;
    min-height: 149px;
    padding: 0 70px 70px;
    margin: 0;
}

.catalog-filter-infrastructure {
    width: 150px;
    min-height: 149px;
    border: none;
    margin: 0;
    padding: 0;

}

.catalog-filter-housing {
    width: 145px;
    min-height: 149px;
    border: none;
    margin: 0;
    padding: 0;

}

.employ-reset-button {
    display: flex;
    flex-direction: column;
    justify-content: end;
    border: none;
}

.catalog-filter-item:nth-child(1) {
    margin-bottom: 15px;
}

.catalog-filter-item:nth-child(2) {
    margin-bottom: 15px;
}

.catalog-filter-list {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

.catalog-filter-title {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
}

.catalog-filter-title-range {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    padding: 0;
    margin: 0;
    margin-bottom: 34px;
}

.catalog-filter-group {
    border: 0;
    margin: 0;
    padding: 0;

}

.range {
    display: flex;
}

.range-wrapper-inputs {
    display: flex;
    position: relative;
}

.catalog-filter-price {
    font-size: 18px;
    line-height: 21px;
    opacity: 0.3;
    position: absolute;
    top: 12px;
    left: 110px;

}


.range-input {
    width: 144px;
    margin: 0;
    color: #FFFFFF;
    font: inherit;
    font-size: 18px;
    line-height: 21px;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    padding: 12px 14px 12px 14px;
    border-radius: 4px 0 0 4px;
    font-weight: 400;
}

.range-input-max {
    width: 144px;
    margin: 0;
    color: #FFFFFF;
    font: inherit;
    font-size: 18px;
    line-height: 21px;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    padding: 12px 14px 12px 14px;
    border-radius: 0 4px 4px 0;
    font-weight: 400;
}

.range-scale {
    position: relative;
    height: 4px;
    margin-top: 30px;
    background-color: #FFFFFF;
}

.range-bar {
    position: absolute;
    height: 4px;
    background-color: #FFFFFF;
}

.range-toggle {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.range-toggle:hover {
    background-color: #FFFFFF;
}

.range-toggle:focus {
    border: 3px solid #83B3D3;
}

.range-toggle:active {
    border: 2px solid #83B3D3;
}

.toggle-min {
    top: -8px;
    left: 0px;
}

.toggle-max {
    top: -8px;
    right: -10px;
}

.employ-button {
    font-family: "PT Sans";
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #ffffff;
    background-color: #82B3D3;
    text-transform: uppercase;
    border: 0;
    padding: 14px 15px;
    border-radius: 4px;
    cursor: pointer;
    width: 160px;
    margin-bottom: 20px;

}

.catalog-sorting {
    display: flex;
    width: 1057px;
    min-height: 49px;
    padding: 50px 71px 56px 72px;
}

.select-control-sorting {
    font-family: "PT Sans";
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    margin-right: 94px;
    margin-left: 191px;
    width: 290px;
    min-height: 49px;
    border-radius: 4px;
    appearance: none;
    border: 2px solid #E5E5E5;
    padding: 13px 32px 13px 20px;
    background-image: url(../images/arrow-down.svg);
    background-repeat: no-repeat;
    background-position: right 20px center;

}

.select-control-sorting:hover,
.select-control-sorting:focus {
    border: 2px solid #68A2CA;
    outline: none;
}

.select-control-sorting:active {
    border: 2px solid #3F5E72;
}

.select-control-sorting:disabled {
    opacity: 0.3;
}

.button-view-container {
    display: flex;
    width: 160px;
    margin-left: auto;
    justify-content: space-between;
}

.button-view {
    width: 48px;
    height: 48px;
    position: relative;
    box-sizing: border-box;
}

.button-view-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.button-view-current {
    border: 2px solid #000000;
    border-radius: 4px;
}

.button-view-uncurrent {
    border: 2px solid #E5E5E5;
    border-radius: 4px;
}

.button-view:hover {
    border: 2px solid #000000;
}

.button-view:focus {
    border: 2px solid #68A2CA;
    outline: none;
}

.button-view:active {
    border: 2px solid #000000;
}

.catalog-sorting .button {
    width: 48px;
    height: 48px;
}

.control-input-reset {
    font-family: "PT Sans";
    font-size: 16px;
    line-height: 20px;
    background: transparent;
    border: none;
    color: #FFFFFF;
    padding: 3px 13px;
    margin-left: 35px;
}

.control-input-reset:hover {
    opacity: 0.6;
}

.control-input-reset:focus {
    outline: 3px solid #83B3D3;
    color: #FFFFFF;
}

.control-input-reset:active {
    opacity: 0.3;
    outline: none;
}

.control {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    margin: 0;
}

.catalog-hotels {
    display: block;
}

.catalog-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    width: 338px;
    min-height: 37px;
    margin-top: 7px;
    margin-bottom: 4px;
}

.control-input {
    margin: 0;
    margin-right: 19px;
}

.hotels-list {
    display: grid;
    grid-template-columns: 340px 340px 340px;
    column-gap: 18px;
    list-style-type: none;
    padding-left: 71px;
    padding-right: 73px;
    margin-top: 0;
    text-align: center;
    margin-bottom: 66px;
}

.hotels-card {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.hotels-price {
    display: grid;
    grid-template-columns: 140px 140px;
    grid-template-rows: 21px 37px 37px;
    gap: 16px 20px;
}

.hotels-card-link {
    text-decoration: none;
}

.hotels-card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    text-decoration: none;
    width: 300px;
    text-align: left;
    margin-top: 16px;
    margin-bottom: 16px;
}

.hotels-card-name {
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    text-align: left;
}

.hotels-card-price {
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    text-align: left;
}

.hotels-detailed {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    background-color: #756157;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 9px;
    border-radius: 4px;
}

.hotels-favourites {
    display: inline-block;
    width: 140px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    background-color: #82B3D3;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0;
    border-radius: 4px;
    border: none;
}

.hotels-added {
    padding: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    background-color: #7DB54F;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0;
    border-radius: 4px;
    border: none;
    width: 140px;
}


.hotels-detailed:hover {
    background-color: #615048;
}

.hotels-detailed:focus {
    background-color: #615048;
    outline: none;
}

.hotels-detailed:active {
    background-color: #756157;
    color: rgba(255, 255, 255, 0.3);
}

.hotels-added:hover {
    background-color: #6C9E42;
}

.hotels-added:focus {
    background-color: #6C9E42;
    outline: none;
}

.hotels-added:active {
    background-color: #7DB54F;
    color: rgba(255, 255, 255, 0.3);
}

.button:disabled {
    background-color: #E5E5E5;
    color: #FFFFFF;
    cursor: default;
}


.rating {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    padding-top: 9px;
    background-color: #F2F2F2;
    border-radius: 4px;
}

.star-four {
    background-image: url("../images/stars/four-stars.svg");
}

.star-three {
    background-image: url("../images/stars/three-stars.svg");
}

.star-two {
    background-image: url("../images/stars/two-stars.svg");
}

.hotels-card-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
}

.pagination-container {
    display: flex;
    width: 1056px;
    min-height: 60px;
    padding: 30px 71px 25px 73px;
}

.pagination-container p {
    margin: 20px 51px 17px 270px;
    min-width: 175px;
    min-height: 23px;
    color: #333333;
}

.pagination {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.pagination-item:not(:last-child) {
    margin-right: 8px;
}

.pagination-link {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    background-color: #82B3D3;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 4px;
    padding-top: 11px;
}

.pagination-current {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    background-color: #F2F2F2;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 4px;
    padding-top: 11px;
}

.select-control {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    background-color: #ffffff;
    width: 160px;
    height: 49px;
    appearance: none;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
    padding: 13px 32px 13px 20px;
    background-image: url(../images/arrow-down.svg);
    background-repeat: no-repeat;
    background-position: right 20px center;
    margin-top: 5px;
}

.subscription-catalog {
    width: 800px;
    min-height: 223px;
    padding: 94px 200px;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
}

.subscription-catalog-button {
    font-family: "PT Sans";
    font-size: 20px;
    line-height: 36px;
    background-color: #82B3D3;
    color: #ffffff;
    font-style: normal;
    font-weight: 700;
    margin: 0;
    padding: 12px 15px;
    min-width: 200px;
    border: none;
    border-radius: 0px 10px 10px 0px;
}

.select-button:hover {
    background-color: #68A2CA;
}

.select-button:focus {
    background-color: #68A2CA;
    outline: none;
}

.select-button:active {
    background-color: #82B3D3;
    color: rgba(255, 255, 255, 0.3);
}